@media screen and (min-width:576px) and (max-width:992px) {
    .header {
        flex-direction: column;
        padding: 0;
    }
    .header-logo {
        margin-left: 0;
    }
    .header-list { 
        margin-left: -100px;
    }
    /******banner section*****/
    .banner {
        flex-direction: column;
        margin: 50px 0;
    }
    .banner-img img{
        width: 100%;
        margin-top: 100px;

    }
    .banner-text h1 {
        font-size: 5rem;
    }
    /*****Online-gamer section******/
    .online-game {
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .online-game-boxs {
        margin: 0 0;
    }
    .online-game-area {
        margin: 0 0;
    }
    /******Start play instant section*****/
    .play-instant-text h3 {
        text-align: center;
    }
    .play-instant-text p {
        text-align: center;
    }
    .play-instant {
        flex-direction: column;
    }
    .rectangle-66 img {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    
}

@media screen and (max-width:576px) {

    .header {
        flex-direction: column;
        padding: 0;
    }
    .header-logo {
        justify-content: center;
    }
    .header-list ul {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }
    .header-list ul li {
        text-align: center;
    }
    .header-icons {
        flex-direction: column;
        margin-top: 10px;
    }
    .header-logo img {
        margin-left: 50px;
    }

    /******banner section*****/
    .banner {
        flex-direction: column;
        margin: 50px 0;
    }
    .banner-text h1 {
        font-size: 4rem;
    }
    .banner-text{
        text-align: center;
    }
    .banner-img img{
        width: 100%;
        margin-top: 50px;
    }
    /*****Online-gamer section******/
    .online-game {
        grid-template-columns: 1fr;
    }
    .online-game-boxs {
        margin: 0 0;
    }
    .online-game-area {
        margin: 0 0;
    }

      /******Start play instant section*****/
    .play-instant-text h3 {
        text-align: center;
    }
    .play-instant-text p {
        text-align: center;
    }
    .play-instant {
        flex-direction: column;
    }
    .rectangle-66 img {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
}