body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/******Start Header Style*******/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.header-logo {
    display: flex;
    width: 50%;
    margin-left: -40px;
}
.header-logo img {
    padding: 40px 10px;
}
.header-logo h2{
    color: #0B0223;
    font-size:2.8rem;
    font-weight: 700;
}
.game{
   color: #FF42A5;
}

.header-list ul{
    display: flex;
   gap: 0 32px;
}
.header-list ul li{
    list-style: none;
    color: #3C354F;
    font-size: 1.13rem;
    font-weight: 500;
    cursor: pointer;
}
.header-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px;
    margin-top: -20px;
    cursor: pointer;
}
.header-icon{
    font-size: 1.5rem;
    text-decoration: none;
  
}

/******End Header Style*******/

/******Star Banner Style*******/
.banner-area{
    background-image: url("./images/Group 14.png");
    background-repeat: no-repeat;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text h2{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.banner-text h1{
    font-size: 5.94rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 25px 0;
}
.banner-text p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.sing-btn{
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    
}
.go-btn{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 25px;
}
.button{
    margin-top: 40px;
    
}
/******End Banner Style*******/


/******Start online-game Style*******/
.online-game-area{
    margin: 100px 0;
}
.online-game-head h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-head p{
    color: #534C64;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
}
.online-game-boxs{
    margin: 50px 0;
}
.online-game-boxs img{
    width: 100%;
}
.online-game{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.online-game-boxs p{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    width: 342px;
}
.third-box{
    position: relative;
}
.third-box p{
    width: 244px;
}
.online-game-icon{
   font-size: 50px;
   position: absolute;
   margin-top: -230px;
   margin-left: 40px;
   text-align: center;
   color: transparent;
}
.online-game-icon p{
       color: transparent;
}
.third-box:hover .online-game-icon p{
    color: #FF42A5;
    cursor: pointer;
}
.third-box:hover .online-game-icon{
    cursor: pointer;
    color: black;
}
.third-box img{
    border: 2px solid transparent;
    border-radius: 18px;
}
.third-box:hover img{
    cursor: pointer;
    border: 2px solid #FF42A5;
    box-shadow: 3px 3px 5px #FF42A5;
    border-radius: 18px;
}


/******End online-game Style*******/

/****** Start Play instant style******/

.play-instant{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-instant-text h3{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    width: 353px;
}
.play-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instant-text p{
    color: #534C64;
    text-align: right;
    font-size: 1.13rem;
    font-weight: 400;
    width: 353px;
}
.rectangle-55 img{
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.rectangle-66 img{
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
    margin-top: -250px;
    margin-left: -150px;
}
.rectangle-55:hover img{
    border: 1px solid #F948B2;
    border-radius: 10px;
}
.rectangle-66:hover img{
    border: 1px solid #F948B2;
    border-radius: 10px;
}

/****** End Play instant style******/



/****** Start action style******/
.action-first{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.action-area{
    margin: 50px 0 100px 0;
}
.action-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50px;
}
.action-feature:hover{
    cursor: pointer;
    border: 1px solid #FF42A5 ;
    border-radius: 50px;

}
.action-feature h4{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}
.action-feature img{
    padding: 20px;
}

.action-feature:hover h4{
    color: #F948B2;
}


/****** End action style*****/


/*******start footer style*****/
.footer-area{
    background: #0B0223;
    padding: 125px 0;
}
.footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-head h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFF;
    margin: 0 10px;
}
.footer-game{
    color: #FF42A5 ;
}
.footer-text{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 50%;
    margin: auto;
    justify-content: center;
    padding: 50px 0;
}
.footer-text a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.13rem;
    font-weight: 600;
    cursor: pointer;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
.footer-icon{
    font-size: 35px;
    cursor: pointer;
}
.footer-ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 55%;
  margin: auto;
  padding: 50px 0;
  
}
.footer-ul a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    gap: 20px;
}
.footer h6{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
/*******End footer style*****/